<div fxLayout="row">
  <div fxFlex.gt-sm="100%">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Workflow</mat-card-title>
        <button mat-raised-button color="accent" (click)="back()">
          << Back
        </button>
        <div cdkDropListGroup>
          <div class="example-container">
            <h3>Flows</h3>

            <div
              id="cdk-steps"
              style="overflow-y: scroll; height: 600px"
              cdkDropList
              [cdkDropListData]="flows"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="example-box"
                *ngFor="let step of flows"
                cdkDrag
                [cdkDragDisabled]="isSaveDisabled"
              >
                {{ step.Name }}
              </div>
            </div>
          </div>

          <div class="example-container">
            <div style="display: flex; align-items: center">
              <div style="width: 50%; text-align: left">
                <h3>Workflow<span style="color: red">*</span></h3>
              </div>
            </div>

            <div
              cdkDropList
              [cdkDropListData]="workFlow"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="example-box"
                *ngFor="let flow of workFlow; let i = index"
                cdkDragLockAxis="y"
                cdkDrag
                [cdkDragDisabled]="isSaveDisabled"
              >
                <span style="color: black; font-size: 14pt">
                  <strong>Flow: </strong>{{ flow.Name }}
                </span>

                <button
                  mat-icon-button
                  class="del-button"
                  title="Remove Flow from Workflow"
                  (click)="removeFromWorkFlow(item, i)"
                  [disabled]="isSaveDisabled"
                >
                  <mat-icon>delete</mat-icon>
                </button>
                <div style="color: black; font-size: 11pt">
                  <span style="font-weight: 500"> Strategy: </span>
                  {{ flow.StrategyName }}
                </div>
                <div style="color: black; font-size: 11pt">
                  <span style="font-weight: 500"> Flow Type: </span>
                  {{ flow.FlowType }}
                </div>

                <ul
                  class="list"
                  *ngFor="let step of flow.flowSteps; let ii = index"
                >
                  <li>
                    <span style="color: darkslategray">
                      <strong>Step {{ ii + 1 }} : </strong>{{ step.StepName }}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="example-container">
            <div style="display: flex; align-items: center">
              <div style="width: 50%; text-align: left">
                <h3>Workflow Info.</h3>
              </div>
              <div style="width: 50%; align-items: end; text-align: right">
                <button
                  mat-raised-button
                  color="accent"
                  (click)="save()"
                  [disabled]="isSaveDisabled"
                >
                  Save
                </button>
              </div>
            </div>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Title <span style="color: red">*</span></mat-label>
              <input
                matInput
                [(ngModel)]="workFlowName"
                [disabled]="isSaveDisabled"
              />
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Storage Location</mat-label>
              <mat-select
                [(ngModel)]="storageLocation"
                [disabled]="isSaveDisabled"
              >
                <mat-option
                  *ngFor="let storageLocation of storageLocations"
                  [value]="storageLocation.ID"
                >
                  {{ storageLocation.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
