<div fxLayout="row">
  <div fxFlex.gt-sm="100%">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Order</mat-card-title>

        <section>
          <div class="example-button-row">
            <button mat-raised-button color="accent" (click)="back()">
              << Back
            </button>
          </div>
        </section>

        <form [formGroup]="formGroup">
          <div class="example-container">
            <mat-form-field class="form-element">
              <mat-label>Order Id</mat-label>
              <input matInput placeholder="" formControlName="ID" />
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label>Order Type</mat-label>
              <input matInput required formControlName="OrderType" />
            </mat-form-field>
            <div
              *ngIf="
                OrderType?.invalid && (OrderType?.dirty || OrderType?.touched)
              "
              class="alert-danger"
            >
              <div *ngIf="OrderType?.errors.required">
                Order Type is required.
              </div>
            </div>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Inventory</mat-label>
              <mat-select formControlName="InventoryID">
                <mat-option *ngFor="let item of inventories" [value]="item.ID">
                  {{ item.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field class="form-element">
              <mat-label>Customer</mat-label>
              <input
                matInput
                required
                formControlName="CustomerName"
                value=""
              />
            </mat-form-field>
            <div
              *ngIf="
                CustomerName?.invalid &&
                (CustomerName?.dirty || CustomerName?.touched)
              "
              class="alert-danger"
            >
              <div *ngIf="CustomerName?.errors.required">
                Customer is required.
              </div>
            </div> -->

            <!-- <mat-form-field class="form-element">
              <mat-label> Customer Address </mat-label>
              <textarea
                matInput
                rows="2"
                formControlName="CustomerAddress"
              ></textarea>
            </mat-form-field>
            <div
              *ngIf="
                CustomerAddress?.invalid &&
                (CustomerAddress?.dirty || CustomerAddress?.touched)
              "
              class="alert-danger"
            >
              <div *ngIf="CustomerAddress?.errors.required">
                Customer Address is required.
              </div>
            </div> -->

            <section *ngIf="!isOrderExecuted">
              <div class="example-button-row">
                <button mat-raised-button color="accent" (click)="save()">
                  Submit Order
                </button>
              </div>
            </section>
          </div>

          <div class="example-container">
            <mat-form-field>
              <mat-label>Order Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="OrderDateTime"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div
              *ngIf="
                OrderDateTime?.invalid &&
                (OrderDateTime?.dirty || OrderDateTime?.touched)
              "
              class="alert-danger"
            >
              <div *ngIf="OrderDateTime?.errors.required">
                Order Date is required.
              </div>
            </div>

            <!-- <mat-form-field>
              <mat-label>Shipping Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker2"
                formControlName="ShippingDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <div
              *ngIf="
                ShippingDate?.invalid &&
                (ShippingDate?.dirty || ShippingDate?.touched)
              "
              class="alert-danger"
            >
              <div *ngIf="ShippingDate?.errors.required">
                Shipping Date is required.
              </div>
            </div> -->

            <!-- <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Inventory</mat-label>
              <mat-select formControlName="InventoryID">
                <mat-option *ngFor="let item of inventories" [value]="item.ID">
                  {{ item.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->

            <mat-form-field class="form-element">
              <mat-label>Quantity</mat-label>
              <input
                matInput
                required
                formControlName="Quantity"
                value=""
                type="number"
              />
            </mat-form-field>
            <div
              *ngIf="
                Quantity?.invalid && (Quantity?.dirty || Quantity?.touched)
              "
              class="alert-danger"
            >
              <div *ngIf="Quantity?.errors.required">Quantity is required.</div>
            </div>
          </div>

          <div
            class="example-container"
            *ngIf="isOrderExecuted && workFlowName !== ''"
          >
            <div style="display: flex; align-items: center">
              <div
                style="
                  background: deepskyblue;
                  padding: 2px;
                  text-align: left;
                  width: 100%;
                "
              >
                <h3>Workflow: {{ workFlowName }}</h3>
              </div>
            </div>

            <div class="example-list">
              <div
                class="example-box"
                *ngFor="let flow of workFlow.Workflow_Flows; let i = index"
              >
                <span style="color: black; font-size: 12pt">
                  <strong>Flow: </strong>{{ flow.FlowName }}
                </span>

                <div style="color: black; font-size: 12pt">
                  <strong>Strategy: </strong>{{ flow.StrategyName }}
                </div>

                <ul
                  class="list"
                  *ngFor="let step of flow.flowSteps; let ii = index"
                >
                  <li>
                    <span style="color: darkslategray">
                      <strong>Step {{ ii + 1 }} : </strong>{{ step.StepName }}
                      <span
                        *ngIf="step.step_status === 'In-Progress'"
                        class="in-progress"
                      >
                        {{ step.step_status }}
                      </span>
                      <span *ngIf="step.step_status === 'To-Do'" class="to-do">
                        {{ step.step_status }}
                      </span>

                      <!-- <span *ngIf="i === 0 && ii === 0" class="in-progress">
                        In-Progress
                      </span>
                      <span *ngIf="i !== 0" class="to-do">To-Do</span>
                      <span *ngIf="i === 0 && ii !== 0" class="to-do">
                        To-Do
                      </span> -->
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
