<div fxLayout="row">
  <div fxFlex.gt-sm="100%">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Hardware</mat-card-title>

        <section>
          <div class="example-button-row">
            <button mat-raised-button color="accent" (click)="back()">
              << Back
            </button>
          </div>
        </section>

        <form [formGroup]="formGroup">
          <div class="example-container">
            <div style="display: flex; align-items: center">
              <div style="width: 50%; text-align: left">
                <h3>Hardware Info.</h3>
              </div>
            </div>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput value="" formControlName="Name" />
            </mat-form-field>
            <div
              *ngIf="Name?.invalid && (Name?.dirty || Name?.touched)"
              class="alert-danger"
            >
              <div *ngIf="Name?.errors.required">Name is required.</div>
            </div>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Type</mat-label>
              <input matInput value="" formControlName="Type" />
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Model</mat-label>
              <input matInput formControlName="Model" />
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Weight Capacity</mat-label>
              <input matInput value="" formControlName="WeightCapacity" />
            </mat-form-field>

            <div style="width: 50%; align-items: end; text-align: right">
              <button
                mat-raised-button
                color="accent"
                (click)="save()"
                [disabled]="isSaveDisabled"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
