@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

/* You can add global styles to this file, and also import other style files */
.toolbar-bg {
  background: black !important;
}

html,
body {
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.ag-root-wrapper.ag-layout-normal {
  height: 500px;
}

.mat-snack-bar-container {
  background-color: whitesmoke !important;
  color: #323232 !important;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.alert-danger {
  color: red;
}
